<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include head%>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1><%= title %></h1>
            <div class="col-md-4"></div>
            <small>科幻迷</small>
            <div class="col-md-8"></div>
            <form method="get" action="/results">
                <div class="input-group col-md-4 pull-right">
                    <input class="form-control" type="text" name="q"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="navbar navbar-defalut navbar-fixed-buttom">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">悠哉电影网</a>
            <% if(user){ %>
                <p class="navbar-text navbar-right">
                    <span>欢迎您<%= user.name%></span>
                    <%if(user.role >= 50){%>
                        <span>超级无敌管理员</span>
                    <%} else {%>
                        <span>普通管理员</span>
                    <%}%>
                    <span>&nbsp;|&nbsp;</span>
                    <a class="navbar-link" href="/logout">退出</a>
                </p>
            <% } else{%>
                <p class="navbar-text navbar-right">
                    <a class="navbar-link" href="#" data-toggle="modal" data-target="#signinModal">注册</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a class="navbar-link" href="#" data-toggle="modal" data-target="#signinLogin">登录</a>
                </p>
            <%} %>
        </div>
    </div>
</div>


<div id="signinModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/user/signin">
                <div class="modal-header">注册</div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="signinName">用户名</label>
                        <input id="signinName" class="form-control" type="text" name="user[name]" />
                    </div>
                    <div class="form-group">
                        <label for="signinPassword">密码</label>
                        <input id="signinPassword" class="form-control" type="password" name="user[password]" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="submit" data-dismiss="modal">关闭</button>
                    <button class="btn btn-success" type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="signinLogin" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/user/login">
                <div class="modal-header">登录</div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="loginName">用户名</label>
                        <input id="loginName" class="form-control" type="text" name="user[name]" />
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">密码</label>
                        <input id="loginPassword" class="form-control" type="password" name="user[password]" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="submit" data-dismiss="modal">关闭</button>
                    <button class="btn btn-success" type="submit">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<article>